.post_input{
    width: 80%;
    height: 380px;
    margin: 50px auto;
    text-align: center;
}
.post_btn{
    width: 700px;
    margin: 12px auto;
    text-align: right;
}
.post_btn .post{
    color: white;
    border-radius: 2px;
    background-color: #000;
}
.post_btn .post:hover{
    background-color: #666;
}
.post_item{
    width: 80%;
    height: 2000px;
    margin: 50px auto;
    overflow-y: hidden;
}
.post_item .post_content{
    width: 80%;
    margin: 40px auto;
    padding: 5px 25px;
    background-color: rgba(128, 128, 128, 0.164);
}
.post_item .post_content a{
    font-size: 14px;
    font-weight: bold;
}
.post_item .post_content a:hover{
    color: #000;
}
.post_item .post_content p{
    background-color: rgba(255, 250, 250, 0.527);
}
.post_item .post_content .p1{
    font-weight: bold;
}
.post_item .post_content .time{
    color: burlywood;
    font-weight: bold;
}

    